.navbar{
	height: 50px;
	color: white;
	background-color: black;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;

}
.container{
	background-color: aliceblue;
	display: flex;
	justify-content: space-around;
}
.contain{
	align-items: top;		
	background-color: aliceblue;
	height: 500px;
	width: 300px;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.spa{
	display: none;
}
.spavis{
	visibility: visible;
}
.hold{	
}

.nodisp{
	display: none;
}
.disp{
	display: block;
}





