<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="uBase::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>

<body>
	<section>



		<form novalidate action="" th:action="@{/current}" th:object="${apicall}">
			<!-- Bootstrap form starting-->

			<div class="form-group">
				<label for="name_field">key</label> <input name="key" type="text" class="form-control" id="name_field"
					aria-describedby="emailHelp" placeholder="Enter key" required th:value="${apicall.key}" />
			</div>

			<div class="form-group">
				<label for="name_field">location</label> <input name="location" type="text" class="form-control"
					id="name_field" aria-describedby="emailHelp" placeholder="Enter location" required
					th:value="${apicall.location}" />
			</div>

			<br>
			<button type="button" class="btn btn-secondary" id="current">Current</button>
			<button type="button" class="btn btn-secondary" id="forcast">Forcast</button>
			<button type="button" class="btn btn-secondary" id="astronomy">Astronomy</button>

			<div class="nodisp" style="align-items: center;" id="first">
				<br>
				Executable url: http://localhost:8080/api/current/key/location
				<br>
				(replace key and location in the url with your requirements)
				<span></span>
				<button type="submit" th:formaction="@{/api/current}">Show Response</button>
			</div>

			<div class="nodisp" id="second">
				<br>
				Executable url: http://localhost:8080/api/forcast/key/location
				<br>
				(replace key and location in the url with your requirements)
				<br>
				<span></span>
				<button type="submit" th:formaction="@{/api/forcast}">Show Response</button>
			</div>

			<div class="nodisp" id="third">
				<br>
				Executable url: http://localhost:8080/api/astronomy/key/location
				<br>
				(replace key and location in the url with your requirements)
				<br>
				<span></span>
				<button type="submit" th:formaction="@{/api/astronomy}">Show Response</button>
			</div>
		</form>

		<script src="/JS/apiscript.js"></script>
		<link rel="stylesheet" th:href="@{/style.css}">
	</section>

</body>

</html>